/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    height: 20px;
    width:20px
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}
#halo-effect-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 500px; /* Adjust the height as needed */
}
/* Style for the Contact Info section */
.footnotes {
    background-color: #f2f2f2;
    padding: 20px;
    height: 200px;
    background-color: #151515; /* Dark background for dark mode */
    text-align: center;
}

.footnotes h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footnotes p {
    font-size: 16px;
    margin: 5px 0;
}

.footnotes a {
    color: #0073e6;
    text-decoration: none;
    margin: 0 10px;
}

.social-media-links a:hover {
    text-decoration: underline;
}

#halo-effect-container p{
    margin: 50px;
    font-size: 24px;
    background-color: #ffffff17;
    padding: 50px;
    border-radius: 30px;
}
#halo-effect-container h2{
    font-size: 40px;
}
#halo{
    display: flex;
    align-items: center;
}
#halo-effect{
    width: 100vh;
    height: 100vh;
    align-self: center;
    margin: 0,auto;
    justify-content: center;
    display: flex;
}
/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: #151515; /* Dark background for dark mode */
    color: #ffffff; /* Light text for dark mode */
    margin: 0;
    padding: 0;
}
.input-fields{
    display: flex;
    orientation: portrait;
    justify-content: center;
}
.artwork::before {
    content: attr(data-title); /* Use the data-title attribute as content */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; /* Initially hidden */
    background-color: rgba(0, 0, 0, 0.5); /* Translucent black background */
    color: rgba(255, 255, 255, 0.7); /* Translucent white text color */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.artwork:hover::before {
    content: attr(data-description); /* Show the data-description attribute on hover */
    display: block;
}

.carousel::before {
    content: "Welcome to our new Event colors of the city. The new Art will be available on display from 21st October 2023"; /* Text content */
    position: absolute;
    top: 50%; /* Move the text down by 50% of the parent's height */
    left: 50%; /* Move the text right by 50% of the parent's width */
    transform: translate(-50%, -50%); /* Center the text both horizontally and vertically */
    color: rgba(255, 255, 255, 0.7); /* Translucent white text color */
    background-color: rgba(0, 0, 0, 0.5); /* Translucent black background */
    padding: 20px;
    border-radius: 5px;
    display: none; /* Initially hidden */
}

/* Show the translucent text when carousel is hovered */
.carousel:hover::before {
    display: block;
}
#main{
    position: absolute;
    top: 35%; /* Move the button down by 50% of the parent's height */
    left: 50%; 
    transform: translate(-50%, -50%); /* Center the button both horizontally and vertically */
    padding: 10px 20px;

}
/* Style the button */
#button {
    position: absolute;
    top: 40%; /* Move the button down by 50% of the parent's height */
    left: 50%; /* Move the button right by 50% of the parent's width */
    transform: translate(-50%, -50%); /* Center the button both horizontally and vertically */
    background-color: rgb(210, 91, 0);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

/* Adjust the button appearance on hover */
.carousel:hover #button {
    background-color: lightblue;
}
.carousel h3{
    font-size: 30px;
    
}
/* Style the header in dark mode */
.dark-header {
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Style the gallery title */
.gallery-title {
    font-size: 36px;
    margin: 0;
    color: #fbf700; /* Light text for dark mode */
}

/* Style the carousel */
.carousel {
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling for swiping */
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
}

  .image-container {
    position: relative;
  }

/* Style carousel images */
.carousel img {
    width: 100%;
    height: 50vh; /* Set the height to exactly half of the viewport height */
    object-fit: cover;
    align-self: center;
    justify-content: center;
    margin: 10px 50px; /* Center the image horizontally */
}
.carousel div{
    display: flex;
    align-items: center;
}

/* Style the gallery container */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

/* Style individual artworks */
.artwork {
    background-color: #00000055;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 300px;
    padding: 1rem;
    text-align: center;
    position: relative;
    border-radius: 20px;
}

/* Style artwork images */
.artwork img {
    max-width: 100%;
    height: auto;
}

/* Style artwork titles */
.artwork h2 {
    font-size: 24px;
    margin: 10px 0;
}

/* Style artist names */
.artwork p {
    font-style: italic;
}

/* Show text when hovering over artwork */
.artwork::before {
    content: "Welcome to our new Event colors of the city. The new Art will be available on display from 21st October 2023"; /* Text content */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; /* Initially hidden */
    background-color: rgba(0, 0, 0, 0.5); /* Translucent black background */
    color: rgba(255, 255, 255, 0.7); /* Translucent white text color */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.artwork:hover::before {
    display: block;
}
.input__container {
    position: relative;
    background: rgba(255, 255, 255, 0.664);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 22px;
    max-width: 300px;
    transition: transform 400ms;
    transform-style: preserve-3d;
    transform: rotateX(15deg) rotateY(-20deg);
    perspective: 500px;
  }
  
  .shadow__input {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(30px);
    border-radius: 20px;
    background-color: #999cff;
    background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
      radial-gradient(at 74% 68%, hsla(235,69%,77%,1) 0px, transparent 50%),
      radial-gradient(at 64% 79%, hsla(284,72%,73%,1) 0px, transparent 50%),
      radial-gradient(at 75% 16%, hsla(283,60%,72%,1) 0px, transparent 50%),
      radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
      radial-gradient(at 91% 83%, hsla(283,74%,69%,1) 0px, transparent 50%),
      radial-gradient(at 72% 91%, hsla(213,75%,75%,1) 0px, transparent 50%);
  }
  
  .input__button__shadow {
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px;
  }
  header{
    display: flex;
  }
  header {
    display: flex;
}

/* Apply flex-grow: 1; to all items in the header */
header > * {
    flex-grow: 1;
}

  .input__button__shadow:hover {
    background: rgba(255, 255, 255, 0.411);
  }
  
  .input__search {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px;
    position: relative;
  }
  .input__container a {
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    padding: 5px;
    font-size: 30px;
}

.input__container a:hover {
    background: rgba(255, 255, 255, 0.411);
}


.artist-info {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
}

img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.artist-info {
    max-width: 600px;
    margin: auto auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

h1 {
    font-size: 24px;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    color: #ccc;
}

img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.artist-info {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}
#rate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rate p{
    font-size: 30px;
    margin-top: 40px;
}
.artwork-view{
    margin-top: 50px;
}
h1 {
    font-size: 24px;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    color: #ccc;
}

img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.paintings {
    max-width: 600px;
    margin: 20px auto;
}

h2 {
    font-size: 24px;
    color: #fff;
}

.painting {
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

.painting img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.painting p {
    font-size: 16px;
    color: #ccc;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
  }
  
  .container .btn {
    height: 50px;
    margin: 20px;
    margin-bottom: 40px;
    position: relative;
    width: 155px;
  }
  
  .container .btn a {
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    z-index: 1;
    transition: 0.5s;
  }
  
  .container .btn:hover a {
    letter-spacing: 2px;
  }
  
  .container .btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,
                  rgba(255,255,255,0.15),
                  transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
  }
  
  .container .btn:hover a::before {
    transform: skewX(45deg) translateX(200%);
  }
  
  .container .btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 10px;
    width: 30px;
    background: rgb(63, 238, 10);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  
  .container .btn:hover::before {
    bottom: 0;
    height: 30%;
    width: 60%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }
  
  .container .btn::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    height: 10px;
    width: 30px;
    background: rgb(7, 245, 59);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  
  .container .btn:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }
  
  .container .btn:nth-child(1):before,
  .container .btn:nth-child(1)::after {
    background: #0cf318;
    box-shadow: 0 0 5px #0ffb2e,
      0 0 15px #2bff59,
      0 0 30px #32ff2b,
      0 0 60px #22ff47;
  }
  
  .container .btn:active a {
    color: #000;
  } 
.btn{
    margin: 0, auto;
    align-self: center;
}
.container {
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    align-self: center;
    margin: 0, auto;
  }
  
